*
!CNES_postprocessed_igs14.mat
!CNES_postprocessed_igs20.mat
!smartphone_postprocess.mat
!smartphone_realtime.mat
!pppar_code_mgex.mat
!pppar_code_rapid.mat
!pppar_cnes.mat
!manually_TUG.mat
!.gitignore
